html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

.loading-map {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    
}