@import 'tailwindcss';

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

@utility animate-blink {
    animation: blink 1.5s ease-in-out infinite;
}
