body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat, sans-serif';
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    /* 
        * 12 = tamaño de letra más pequeño
        * 16 = tamaño de letra más grande
        * 300 = tamaño de viewport más pequeño
        * 1200 = tamaño de viewport más grande
    */
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-family: 'Montserrat', sans-serif;
}

/* 
    * Clases utilitarias 
*/

.flex-responsive {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.flex-responsive-item {
    /* 
        1. Factor de crecimiento, sobrante en pixeles entre el número de piezas totales
        2. Factor de reducción, valor de contenedero reducido entre el número de piezas totales
        3. Tamaño mínimo que tendrá cada columna
    */
    flex: 1 1 250px;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.aling-y-center {
    align-items: center;
}

.fw-bold {
    font-weight: bold;
}

/* 
    * Clases de componentes
*/
.container {
    max-width: 80vw;
    min-width: 300px;
    margin-inline: auto;
}

.card-body>h3 {
    margin-top: 0;
}

.card {
    border: thin solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
}

.btn {
    display: block;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.btn-card {
    padding: 0.5rem 1rem;
    background-color: rgba(94, 144, 224, 1);
}

.btn-card:hover,
.btn-delete-item:hover {
    opacity: 0.7;
}

.btn-delete-item {
    padding: 0.3rem;
    background-color: rgba(170, 0, 0, 1);
}

.table {
    width: 50vw;
    border-collapse: collapse;
    text-align: left;
}

.table>thead>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 0.5rem;
}

.table>tbody>tr:nth-child(odd) {
    background-color: rgb(242, 248, 255);
}

.alert {
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
}

.alert-warning {
    background-color: rgba(234, 164, 72, .6);
    color: rgba(0, 0, 0, .6);
    font-weight: bold;
}

.alert-info {
    background-color: rgba(94, 144, 224, 1);
    color: rgba(0, 0, 0, .6);
    font-weight: bold;
}

.nav {
    padding: .5rem;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

.nav>div>a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}